---
import { Code } from "@astrojs/starlight/components";

interface Props {
  name: string;
  params?: string;
}

const { name, params = "" } = Astro.props;
const code = `${name}(${params})`;
---

<div class="signature-wrapper">
  <Code code={code} lang="lua" />
</div>

<style>
  .signature-wrapper {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
  }
</style>
