@layer base, starlight, theme, components, utilities;

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #0c204f;
  --sl-color-accent: #104eff;
  --sl-color-accent-high: #abc4ff; /* main highlighting */
  --sl-color-white: #f0f0f0; /* main text */
  --sl-color-gray-1: #edeeef;
  --sl-color-gray-2: #c1c2c3; /* secondary text */
  --sl-color-gray-3: #8a8b8e;
  --sl-color-gray-4: #57585a;
  --sl-color-gray-5: #37383a; /* outlines / inline code */
  --sl-color-gray-6: #212225; /* sidebar */
  --sl-color-black: #161618; /* main page background */
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c3d7ff;
  --sl-color-accent: #2b63ff;
  --sl-color-accent-high: #0c2975;
  --sl-color-white: #181819;
  --sl-color-gray-1: #262729;
  --sl-color-gray-2: #37383a;
  --sl-color-gray-3: #515153;
  --sl-color-gray-4: #8e8a8a;
  --sl-color-gray-5: #bdbebe;
  --sl-color-gray-6: #dbdbdb;
  --sl-color-gray-7: #f8f8f8;
  --sl-color-black: #eeeeee;
}

/* mathjax */
mjx-container svg {
  display: inline !important;
}
