@layer base, starlight, theme, components, utilities;

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #0c204f;
	--sl-color-accent: #104eff;
	--sl-color-accent-high: #93b7da;
	--sl-color-white: #f0f0f0;
	--sl-color-gray-1: #edeeef;
	--sl-color-gray-2: #c1c2c3;
	--sl-color-gray-3: #8a8b8e;
	--sl-color-gray-4: #57585a;
	--sl-color-gray-5: #37383a;
	--sl-color-gray-6: #262729;
	--sl-color-black: #181819;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c3d7ff;
	--sl-color-accent: #1451ff;
	--sl-color-accent-high: #0c2975;
	--sl-color-white: #181819;
	--sl-color-gray-1: #262729;
	--sl-color-gray-2: #37383a;
	--sl-color-gray-3: #57585a;
	--sl-color-gray-4: #8e8a8a;
	--sl-color-gray-5: #c1c2c3;
	--sl-color-gray-6: #e0e0e0;
	--sl-color-gray-7: #f6f6f7;
	--sl-color-black: #ffffff;
}